@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Sukhumvit";
    font-style: normal;
    font-weight: 400;
    src:
      url("/fonts/sukhumvit/SukhumvitSet-Text.woff2") format("woff2"),
      url("/fonts/sukhumvit/SukhumvitSet-Text.woff") format("woff");
  }
  @font-face {
    font-family: "Sukhumvit";
    font-style: normal;
    font-weight: 700;
    src:
      url("/fonts/sukhumvit/SukhumvitSet-Bold.woff2") format("woff2"),
      url("/fonts/sukhumvit/SukhumvitSet-Bold.woff") format("woff");
  }

  /* h1 {
    @apply text-7xl font-bold;
  } */
}

@layer components {
  .transition-responsive {
    @apply transition-all duration-200 md:duration-200 lg:duration-200;
  }
  .btn-primary {
    @apply transition-responsive rounded-full border-2 border-primary bg-primary px-3 py-2 text-sm text-white [&_i]:transition;
  }
  .btn-social {
    @apply transition-responsive size-10 rounded-full hover:ring-4;
  }

}
